/* Style the header */
.header {
  /*background-color: #f1f1f1;*/
  background-color: #579BB1;
  padding: 20px;
  text-align: center;
}

body{
  background-color: #F8F4EA;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .stackCol {
    width: 100%;
  }
}

svg {
  display: block;
}
#choropleth_map, #line_chart, #pie_chart, .year_bar {
  margin-left: auto;
  margin-right: auto;
}